<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decentralised NGO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <h1 class="display-4 fw-bold lh-1 mb-3">Decentralised NGO</h1>
            <div class="col-md-10 mx-auto col-lg-5 border rounded-3 bg-light">
                <hr>
                <a href="/ngo">
                    <button class="w-100 btn btn-lg btn-primary" type="submit">NGO</button>
                </a>
                <hr>
                <a href="/donation">
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Supporter</button>
                </a>
                <hr>        
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>